[submodule "ormond-chores"]
	path = ormond-chores
	url = git@github.com:agupta231/ormond-chores-bot.git
[submodule "bot-template"]
	path = bot-template
	url = git@github.com:agupta231/bot-template.git
[submodule "chess960-scheduler"]
	path = chess960-scheduler
	url = git@github.com:agupta231/chess960-scheduler.git
[submodule "senior-gregg"]
	path = senior-gregg
	url = git@github.com:agupta231/senior-gregg.git
